{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Create Blog
{% endblock title %}

{% block content %}
<div class="main container">
    <h2>Start Creating Your Blog</h2>
    <p>
        Enter your blog title and change the number of sections to fit your needs, but I only support upto 10 sections now.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div>{{ form.title }} {{form.sections}}</div>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="container blog">
    {% if messages %}
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor%}
    {% endif %}
    {% if post %}
    <div class="blog_content">
        {{post|safe}}
    </div>
    {% endif %}
</div>

{% endblock content%}